*{
    margin: 0;
    padding: 0;
}

#contenedor{
    width: 1000px;
    height: 600px;
    margin: 0 auto;    
    margin-top: 15px;
}

#slider{
    width: 95%;
    margin: auto;
    padding: 30px;
    overflow: hidden;
}

#slider ul{
    display: flex;
    padding: 0;
    width: 620%;
    animation: qatar 15s infinite alternate;
    animation-timing-function: step-start;
}

#slider li{
    width: 100%;
    list-style: none;
}

#slider li img{
    width: 800px;
    height: 500px;
    padding-right: 10px;
    border-radius: 4%;
}

@keyframes qatar {
    0%{ margin-left: 0; }
    13%{margin-left: 0; }

    17%{margin-left: -100%; }
    30%{margin-left: -100%; }

    34%{margin-left: -200%; }
    47%{margin-left: -200%; }

    51%{margin-left: -300%; }
    64%{margin-left: -300%; }

    68%{margin-left: -400%; }
    81%{margin-left: -400%; }

    85%{margin-left: -500%; }
    100%{margin-left: -500%; }
    
}